body {
  margin: 0;
  min-width: 250px;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.wrapper{
  width: 50%;  
  margin-left: 25%;
}
.info, .operations, .filters {
  width: 100%;  
  background: silver;
  text-align: center;
  margin: 1% 0;
}
.info > p {
  color: green; 
  font-size: 14px;
}
button {
  border: 1px double green;
  padding: 10px 20px;
  margin: 0 20px;
  color: green;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #f9f9f9;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  list-style-type: none;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: #f44336;
  color: white;
}
.header {
  background-color: #f9f9f9;
  padding: 30px 40px;
  color: white;
  text-align: center;
  margin: 5%;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.addBtn:hover {
  background-color: #bbb;
}
.popup {
  width: 100%;
  min-height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  overflow: hidden; 
  position: absolute; 
  top: 0px; 
} 
.popup .popup_content {
  width: 400px; 
  height: 130px; 
  padding: 10px;
  background-color: #c5c5c5; 
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
  margin: 20% 40%;
}
#closepopup {
  float: right;
  margin: 2px 2px;
  color: red;
}
#input_popup{
  font-family: 'Merriweather', serif;
  font-size: 12px;
  color: green;
  background-color: #b5b5b5; 
  border: 1px inset gray; 
}
#submit {
  margin-top: 10px;  
}