<h1>{{title}}</h1>
<div *ngIf="selectedHero">
    <h2 >{{selectedHero.name}} details!</h2>
    <div><label>id: </label>{{selectedHero.id}}</div>
    <div><label>name: </label><input [(ngModel)]="selectedHero.name" placeholder="name"></div>
    <div class="heroe-image"><img src="{{selectedHero.img}}" alt=""></div>
</div>

<div class="col-xs-6">
    <h2>My Heroes</h2>
    <ul class="heroes">
        <li *ngFor="let hero of heroes"
            [class.selected]="hero === selectedHero"
            (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </li>
    </ul>
</div>
<div class="col-xs-6">
    <h2>My Bad Heroes</h2>
    <ul class="heroes">
        <li *ngFor="let hero of badheroes"
            [class.selected]="hero === selectedHero"
            (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </li>
    </ul>
</div>
