#container {
  width: 300px;
  height: 100px;
  position: relative;
  background: yellow;
  overflow: hidden; 
}
 
 ul>li{
  background-color: red;
  list-style-type: none;
  width :100px;
  height :50px;
  display :inline-flex;
  left: 0px;
  position: absolute;
}

.disabled{
   opacity: 0.6;
   cursor: not-allowed;
}

button{
  margin-left: 25px;
  display: inline-block;
}
  