#container {
  width: 1200px;
  height: 120px;
  position: relative;
  /*background: yellow;*/
  overflow: hidden;
  left: 20px 
}
 
 ul>li{
  /*background-color: red;*/
  list-style-type: none;
  width :150px;
  height :120px;
  display :inline-flex;
  left: 0px;
  position: absolute;
  border: 5px;
}

.disabled{
   opacity: 0.6;
   cursor: not-allowed;
}

button{
  margin-left: 25px;
  display: inline-block;
}

.hidden{
  display: none;
}

.largeimg{
  
  padding-top: 30px;
  margin-top: 30px;
  text-align: center;
}
  