.images-list{
    list-style: none;
    margin:20px 0 0;
}

.images-list > li{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
    padding:5px;
    margin:5px;
    background: #dddddd;
}

.images-list > li > img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.remove-btn,
.downloads,
.user {
    position: absolute;
}
.downloads,
.user {
    left: 0;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.remove-btn {
    bottom: 0;
    right: 0;
    z-index: 10;
}

.downloads {
    bottom: 0;
}

.user {
    top: 0;
    text-align: center;
}

.hidden{
    display: none;
}

.popup-overlay{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(200, 200, 200, 0.7);
    z-index: 100;
}

.popup{
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

.popup .large-image{
    max-height:600px;
    max-width:600px;
}

