body {
  font-size: 12px;
  font-family: 'Merriweather', serif;
  color: #000;
}

button {
  cursor: pointer;
}

.wrapper {
  width:850px;
  margin: 0 auto;
}

.switch-tab {
  float:right;
  padding-top: 20px;
  margin-right: 20px;
}

.switch-btn {
  width: 30px;
  height:30px;
  
  border-radius: 50%;
  border-style:none;
}


.switch-btn-light {
  margin-right: 10px;
  
  background: #ccc;
}

.switch-btn-dark {
  background: #000;
}

header h2 {
  clear:both;
  margin:0 auto;
  padding-top: 30px;
    
  text-align: center;
}

header h2 span {
  padding: 0 5px 5px;
  
  font-weight: 500;
  font-size: 20px;
  border-bottom: 2px solid #195c89;
  font-family: 'Merriweather', serif;
}

.content {
  position: relative;
  margin-top: 45px;
  
  overflow: hidden;
}

.content-left-side {
  float:left;
  width:50%;
}

.content-left-side img {
  margin-left: 50px;
}

.content-right-side {
  float:left;
  width:50%;
}

.content-right-side h1 {
  font-size: 28px;
}

.content-right-side h3 {
  margin-top: 10px;
  
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  color: #787878;
}

.content-right-side p {
  margin-top: 15px;
  padding-right: 90px;
  
  line-height: 2em;
  text-align: left;
}

.btn-contact {
  position: absolute;
  bottom: 0;
  
  width: 145px;
  height: 45px;
  
  border-style:none;
  background: #195C89;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.my-contacts {
  margin-top: 100px;
  padding-left:70px;
  padding-right: 70px;
}

.my-contacts ul {
  display: table;  
  position: relative;
  
  width: 100%;
}

.my-contacts ul li {
  display: table-cell;
  
  width: 20%;
}

.my-contacts li a {
  display: block;
  margin: 0;
  padding: 0;
  
  text-align: center;
  font-size: 24px;
  color:#195c89;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
}

.copyrights {
  margin-top:40px;
  padding-bottom: 20px;
  display: block;
  
  text-align: center;
  font-size: 14px;
  color: #f1f1f1;
}