<form #form="ngForm" *ngIf="hero" (ngSubmit)="onSubmit(form.value)">
    <h2>{{hero.name}} Edit!</h2>
    <div><label>Id: </label>{{hero.id}}</div>
    <input type="hidden" name="id" [ngModel]="hero.id" />
    <div>
        <label>Name: </label>
        <input type="text" name="name" [ngModel]="hero.name" placeholder="Name" required />
    </div>
    <div>
        <label>Image: </label>
        <input type="text" name="image" [ngModel]="hero.image" placeholder="Image URL" required />
    </div>
    <div>
        <button [disabled]="!form.valid" type="submit">Save</button>
    </div>
</form>