.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    border-radius: 4px;
}
.heroes li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.heroes .text {
    position: relative;
}
.heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    line-height: inherit;
    background-color: #0275d8;
    position: relative;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}
.heroe-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.heroe-image img {
    max-width: 100%;
}
.col-xs-4 {
    width: 33.3%;
    float: left;
}
