<div class="col-xs-4">
    <h2>Good Heroes</h2>
    <ul class="heroes">
        <li *ngFor="let hero of heroes"
            [class.selected]="hero === selectedHero"
            (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </li>
    </ul>
</div>
<div class="col-xs-4">
    <p>
        <my-hero-detail [hero]="selectedHero"></my-hero-detail>
    </p>
    <p>
        <my-hero-update [hero]="selectedHero" (onupdate)="selectedHero($event)"></my-hero-update>
    </p>
</div>
<div class="col-xs-4">
    <h2>Evil Heroes</h2>
    <ul class="heroes">
        <li *ngFor="let hero of badheroes"
            [class.selected]="hero === selectedHero"
            (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </li>
    </ul>
</div>
