h1 {
  text-align: center;
}
h1 span {
  font-size: 2.5rem;
  font-style: italic;
}


.collection .collection-item {
  line-height: 2.5rem;
}


.modal {
  display: block;
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  background-color: rgba(200, 200, 200, 0.7);
  z-index: 100;
}

.modal-content {
  position:absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

.hidden {
  display: none;
}

.close-modal {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.close-modal:after {
  content: '✖'; /* UTF-8 symbol */
}

.checked {
  text-decoration: line-through;
}