        <footer class="page-footer">
            <ul class="social">
                <li><a title="share">Facebook</a></li>
                <li><a>Instagram</a></li>
                <li><a title="share">Vkontakte</a></li>
                <li><a>Email</a></li>
                <li><a title="share">Twitter</a></li>
            </ul>
            <div class="copyright">
                &copy; <time></time> Vladimir Varavva
            </div>
        </footer>
        
    </div>
    <script src="js/script.js"></script>
</body>
</html>