<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homework 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body data-theme="light">
    <div class="wrapper">

        <header class="page-header">
            <nav class="main-nav">
                <a href="index.html">About me</a>
            </nav>
            <div class="theme-change">
                <button class="theme-btn" data-theme="light"></button>
                <button class="theme-btn" data-theme="dark"></button>
            </div>
        </header>
