body {
    font-family: 'Merriweather', serif;
    font-size: 18px;

    color: #0d0d0d;
    background: #fff;
}

body.dark {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    background: #111111;
    color: #eee;
}
.wrap {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.themetab {
    width: 940px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
}

.theme.light {
    background-color: lightgrey;
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    border-radius: 40px;
    float: right;
    margin: 10px;
}

.theme.dark {
    background-color: black;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 40px;
    float: right;
    margin: 10px;
}

.wrap .header {
    margin: 0 auto;
}

.light .about {
    font-family: 'Merriweather Sans', sans-serif;
    width: 150px;
    margin: 0 auto;
    font-size: 25px;
    border-bottom: 2px solid #16548B;
    line-height: 1.5;
    text-align: center;
    color: #1a1a1a;
}

.dark .about {
    font-family: 'Merriweather Sans', sans-serif;
    width: 150px;
    margin: 0 auto;
    font-size: 25px;
    border-bottom: 2px solid #e39439;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
}

.sidebar {
    float: left;
    width: 350px;
    height: 250px;
    margin: 35px 20px 0 0;
    background: url("images/photo.png") no-repeat 50% 50%;

}

.content {
    overflow: hidden;
    padding: 10px 30px 10px 30px;
}

.name {
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 0;
    padding-top: 10px;
    color: #1a1a1a;
}

.post {
    font-family: 'Inconsolata', monospace;
    font-size: 26px;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 100;
    color: #666666;
}

.dark .name {
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 0;
    padding-top: 10px;
    color: #ffffff;
}

.dark .post {
    font-family: 'Inconsolata', monospace;
    font-size: 26px;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 100;
    color: #9c9c9c;
}

.description {
    font-family: 'Merriweather Sans', sans-serif;
    width: 90%;
    line-height: 1.5;
    text-align: left;
    color: #333333;
}

.light .button {
    background-color: #16548B;
    border: 1px solid white;
    border-radius: 3px;
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    color: white;
}

.dark .button {
    background-color: #e39439;
    border: 1px solid #000000;
    border-radius: 3px;
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    color: white;
}

.footer {
    margin: 60px auto 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.light.footer a {
    text-decoration: none;
    margin: auto;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    color: #16548B;
    font-weight: 100;
}

.dark .footer a {
    text-decoration: none;
    margin: auto;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    color: #e39439;
    font-weight: 100;
    background-color: transparent;
}

.copyright {
    text-align: center;
    color: #b0b0b0;
    padding-top: 10px;
    font-size: 18px;
}

/* Popup */
.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
}

.popup-content {
    margin: 150px auto 0 auto;
    width: 20%;
    height: 20%;
    padding: 10px;
    background-color: #16548B;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.dark .popup-content {
    margin: 150px auto 0 auto;
    width: 20%;
    height: 20%;
    padding: 10px;
    background-color: #e39439;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.popup .popup-content li {
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    color: white;
}

.popup-close {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    width: 8%;
    text-align: center;
}

.hidden {
    display: none;
}
