* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Merriweather', serif;
}

.wrapp {
  width: 100%;
  margin: 0 auto;

}
.black{
  float: right;
  margin: 40px 40px 0 20px;
  padding: 27px;
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  background: black;
}

.gray{
  float: right;
  margin: 40px 0 0 0;
  padding: 27px;
  display: inline-block;
  text-decoration: none;
  border-radius:50% ;
  background: #ebebeb;
}

.header {
  padding-top: 150px;
  padding-bottom: 50px;
}

.title {
  font-size: 30px;
  text-align: center;
  width: 150px;
  height: 40px;
  border-bottom: 3px solid #1e5d87;
  margin: 0 auto;
}

img {
  float: left;
}

.general{

  margin: 20px 12% 0 12%;
  overflow: auto;  
}

.info {
  margin-left: 560px;  
  padding-left: 30px;     
}

h1 {
  font-size: 35px;
}

h2 {
  font-family: 'Inconsolata', monospace;
  margin-top: -3px;
  color: gray;
}

.text {  
  margin-top: 15px;  
}

button {
  margin-top: 20px;
  width: 160px;
  height: 43px;
  background-color: #1e5d87;
  font-family: 'Inconsolata', monospace;
  color: white;
  text-transform: uppercase;
  font-size: 21px;
  border: 1px solid #1e5d87;
  border-radius: 2px;
}

.social{  
  text-align: justify;
  margin: 135px 12% 0 12%;
  font-family: 'Inconsolata', monospace;
  font-size: 28px;
  white-space: pre-wrap;
}

a {
  color: #045FB4;
  padding: 0 40px;
  text-decoration: none;
}

.footer {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  color: gray;
  opacity: .7;
}