<section>
    <h1>{{title}}</h1>
    <h2>My Heroes</h2>
    <ul class="heroes">
        <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onShowDetails(hero)">
            <span class="badge">{{hero.id}}</span> 
            <span>{{hero.name}}</span>
            <button class="edit_icon" (click)="onEdit(hero, $event)">&#9998;</button>
        </li>
    </ul>
    <div class="hero_information">
        <my-hero-detail [hero]="selectedHero"></my-hero-detail>
        <my-hero-edit [hero]="editedHero" [antiheroesList]="antiheroes"></my-hero-edit>
    </div>
</section>    