header {
  justify-content: space-around;
  display: flex;
  margin:2% 4% 2% 4%;
  align-items: center;
  border-bottom: 1px solid;
}

.player1 {
  text-align: center;
}

.player2 {
  text-align: center;
}

.table {
  table-layout: fixed;
  margin-top: 10%;
  width: 130px;
  height: 130px;
}

.table th {
  height: 30%;
  width: 15%;
}

.chosen {
  background-color: #f2f2f2;
}

.combination {
  color: red;
}