.wrap {
  margin: 2% 13% 5% 13%;
  overflow: hidden;
  font-family: 'Merriweather', serif;
  width: 900px;
}

.figure {
  float: right;
  overflow: hidden;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin: 10px;
  float: right;
}

#grey {
  float: left;
  background: #ebebeb
}

#black {
  background: #222222	
}

header {
  margin: 80px 60% 0 40%;
  text-align: center;
  width: 130px;
  overflow: hidden;
}

header p {
  font-size: 24px;
  border-bottom: 2px solid #195c89;
  color: #1a1a1a
}

.main{
  margin-right: 50px;
}

.photo {
  float: left;
  margin-right: 50px;
  margin-top: 10px;
}

.bio h1 {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.bio h2 {
  font-family: 'Inconsolata',monospace;
  color: #666666;
  font-weight: normal;
  margin-top: 0px;
  font-size: 24px;
}

.bio p{
  color: #333333;
  line-height: 2;
  font-size: 16px;
}

.contact_button {
  border-radius: 2px;
  background-color: #195c89;
  border: none;
  color: white;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);  
}

.popup_content {
  background-color: #e5e5e5;
  margin: 15% auto;
  padding: 20px;
  width: 400px;
  text-align: center;
}

.popup_button{
  border-radius: 2px;
  background-color: #195c89;
  border: none;
  color: white;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.navigation ul {
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 160px;
}

.navigation ul li{
  display: inline;
  margin: 0px 20px 20px 0px 
}

.navigation a {
  text-decoration: none;
  font-size: 20px;
  color: #195c89;
  font-family: 'Inconsolata',monospace;`
}

footer {
  color: #b0b0b0;
  text-align: center;
  margin-right: 30px;
  font-size: 18px;
}